node_modules/
.env
.DS_Store
*.log
dist/
build/
coverage/
.nyc_output/
.vscode/
.idea/
.npmrc
test-results/*
playwright-report/*
script/*
recordings/*
json/*
temp-script/*
temp-playwright.config.ts
GeneratedScript-*
temp-*
server.log
